# --------------------
# 📦 Flutter/Dart Related
# --------------------
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# --------------------
# 🧪 Obfuscation & Symbolication
# --------------------
app.*.map.json
app.*.symbols

# --------------------
# 💻 IDEs and Editors
# --------------------

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Xcode
xcuserdata/
*.xcworkspace

# --------------------
# 🗂️ OS & Miscellaneous
# --------------------
.DS_Store
*.class
*.log
*.pyc
*.swp
migrate_working_dir/
.history
.atom/
.buildlog/
.svn/

# --------------------
# 🔧 Android Specific
# --------------------
/android/app/debug
/android/app/profile
/android/app/release
